@model IList<ScholarshipManagement.Data.DTOs.PendingApplicationsDto>
@{
    ViewData["Title"] = "Payment History";
    int count = 0;
}
<h1>Payment History</h1>
<div>
    <a class="text-danger  text-lg-right font-weight-bold" asp-controller="NaibAmir" asp-action="PendingApplicationsFocus">---Dashboard</a>

    <div class="card-body">
        @if (Model.Count() == 0)
        {
            <div>
                <h5 class="text-center text-danger">No Payment History!</h5>
            </div>
        }
        else
        {
            <table class="table  table-responsive-sm table-bordered">
                <thead class="table-title">
                    <tr class="text-white">
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Name Of School</th>
                        <th>Academic Level</th>
                        <th>Session</th>
                        <th>Status</th>
                        <th>Granted</th>
                        <th>Bank</th>
                        <th>DateDisbursed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var PendingApplicationsDto in Model)
                    {
                    <tr>
                        <td> @(++count) </td>
                        <td>@PendingApplicationsDto.Names </td>
                        <td> @PendingApplicationsDto.NameOfSchool </td>
                        <td>@PendingApplicationsDto.AcademicLevel </td>
                        <td> @PendingApplicationsDto.SchoolSession </td>
                        <td>
                            <input type="text" asp-for="@PendingApplicationsDto.Status" class="form-control btn btn-primary " />
                        </td>
                        <td>@PendingApplicationsDto.AmountGranted </td>
                        <td>@PendingApplicationsDto.BankAccountName </td>
                        <td>@PendingApplicationsDto.DateDisbursed </td>



                    </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

