@model IList<ScholarshipManagement.Data.DTOs.PendingApplicationsDto>
@{
    ViewData["Title"] = "Awaiting Approval(A)";
    int count = 0;
}
<h2>Awaiting Approval(A)</h2>
<div>
    <a class="text-danger  text-lg-right font-weight-bold" asp-controller="Amir" asp-action="Dashboard_NaibAmir">---Dashboard</a>

    <div class="card-body">
        @if (Model.Count() == 0)
        {
            <div>
                <h5 class="text-center text-danger">No Pending Applications!</h5>
            </div>
        }
        else
        {
            <table class="table  table-responsive-sm table-bordered">
                <thead class="table-title">
                    <tr class="text-white">
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Jamaat</th>
                        <th>Auxiliary Body</th>
                        <th>Guardian FullName</th>
                        <th>Name Of School</th>
                        <th>Status</th>
                        <th>Discipline</th>
                        <th>Academic Level</th>
                        <th>Amount Requested</th>
                        <th>Recomm endation</th>
                        <th>Details</th>
                        <th>History</th>
                        <th>Action</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var PendingApplicationsDto in Model)
                     {
                    <tr>
                        <td> @(++count) </td>
                        <td>@PendingApplicationsDto.Names </td>
                        <td>@PendingApplicationsDto.Jamaat </td>
                        <td> @PendingApplicationsDto.AuxiliaryBody </td>
                        <td> @PendingApplicationsDto.GuardianFullName </td>
                        <td> @PendingApplicationsDto.NameOfSchool </td>
                        <td> @PendingApplicationsDto.Status </td>
                        <td>@PendingApplicationsDto.Discipline </td>
                        <td> @PendingApplicationsDto.AcademicLevel </td>
                        <td>@PendingApplicationsDto.AmountRequested </td>
                        <td>@PendingApplicationsDto.AmountRecommended </td>

                        <td>
                            <a asp-action="PendingStudentsDetail" asp-route-id="@PendingApplicationsDto.ApplicationId" class="btn btn-primary">
                                Details
                            </a>
                        </td>

                        <td>
                            <a asp-action="StudentPaymentHistory" asp-route-id="@PendingApplicationsDto.StudentId" class="btn btn-success">
                                HIstory
                            </a>
                        </td>
                        <td>
                            <a asp-action="ActionRoom" asp-route-id="@PendingApplicationsDto.ApplicationId" class="btn btn-danger">
                                Action
                            </a>
                        </td>
                    </tr>
                     }
                </tbody>
            </table>
        }

    </div>
</div>

