@model IList<ScholarshipManagement.Data.DTOs.PendingApplicationsDto>
@{
    ViewData["Title"] = "Application Status";
    int count = 0;
}
<h2>Application Status</h2>
<div>
    <a class="text-danger  text-lg-right font-weight-bold" asp-controller="Student" asp-action="DashboardReturningStudent">---Dashboard</a>

    <div class="card-body">
        @if (Model == null)
        {
            <div>
                <h5 class="text-center text-danger">No Pending Application before the Board</h5>
            </div>
        }
        else
        {
            <table class="table  table-responsive-sm table-bordered">
                <thead class="table-title">
                    <tr class="text-white">
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Name Of School</th>
                        <th>Status</th>
                        <th>Discipline</th>
                        <th>Request</th>  
                    </tr>
                </thead>
                <tbody>
                    @foreach (var PendingApplicationsDto in Model)
                    {
                    <tr>
                        <td> @(++count) </td>
                        <td>@PendingApplicationsDto.Names </td>
                        <td> @PendingApplicationsDto.NameOfSchool </td>
                        <td class="form-group col-lg-1">
                            <div class="form-control bg-success text-white">@PendingApplicationsDto.Status</div>
                        </td>
                        <td>@PendingApplicationsDto.Discipline </td>
                        <td>@PendingApplicationsDto.AmountRequested </td>
                    </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

