@model IList<ScholarshipManagement.Data.DTOs.PendingApplicationsDto>
@{
    ViewData["Title"] = "Approved Payment";
    int count = 0;
}
<h1>Approved Payment</h1>
<div>
    <a class="text-danger  text-lg-right font-weight-bold" asp-controller="Account" asp-action="AccountDashboard">---Dashboard</a>

    <div class="card-body">
        @if (Model.Count() == 0)
        {
            <div>
                <h5 class="text-center text-danger">No Approved Application!</h5>
            </div>
        }
        else
        {
            <table class="table  table-responsive-sm table-bordered">
                <thead class="table-title">
                    <tr class="text-white">
                        <th>S/N</th>
                        <th>Ref</th>
                        <th>Names</th>
                        <th>Name Of School</th>
                        <th>Academic Level</th>
                        <th>Session</th>
                        <th>Status</th>
                        <th>Amount Approved</th>
                        <th>Account Name</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var PendingApplicationsDto in Model)
                    {
                    <tr>
                        <td> @(++count) </td>
                        <td>@PendingApplicationsDto.ApplicationId </td>
                        <td>@PendingApplicationsDto.Names </td>
                        <td> @PendingApplicationsDto.NameOfSchool </td>
                        <td>@PendingApplicationsDto.AcademicLevel </td>
                        <td> @PendingApplicationsDto.SchoolSession </td>
                        <td> 
                            <div class="form-control bg-primary text-white">@PendingApplicationsDto.Status</div>
                        </td>
                        <td>@PendingApplicationsDto.AmountRecommended </td>
                        <td>@PendingApplicationsDto.BankAccountName</td>
                        <td>
                            <a asp-action="MakePayment" asp-route-id="@PendingApplicationsDto.ApplicationId" class="btn btn-primary">PAY</a>
                        </td>



                    </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

