@model IList<ScholarshipManagement.Data.JamaatViewModel>

@{
    ViewData["Title"] = "Jamaats List";
    int count = 0;
}


<h1>Jamaats List</h1>
<div class="card">
    <div class=" card-header">
        <a class="btn btn-success" asp-controller="Jamaat" asp-action="Create">Add Jamaat</a>
    </div>

    <div class="card-body">
        @if (Model.Count() == 0)
        {
            <div>
                <h5 class="text-center text-danger">No Jamaat Found!</h5>
            </div>
        }
        else
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>JamaatName</th>
                        <th>CircuitName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Jamaat in Model)
                    {
                    <tr>
                        <td> @(++count) </td>
                        <td> @Jamaat.Name </td>
                        <td>@Jamaat.CircuitName </td>
                        <td> @Jamaat.Email </td>
                        <td> @Jamaat.PhoneNumber </td>

                        <td>
                            <div class="btn-group">
                                <a asp-action="Detail" asp-route-id="@Jamaat.Id" class="btn btn-primary">
                                    View
                                </a>
                                <a asp-action="Update" asp-route-id="@Jamaat.Id" class="btn btn-success">
                                    Edit
                                </a>
                                <a asp-action="Delete" asp-route-id="@Jamaat.Id" class="btn btn-danger">
                                    Delete
                                </a>
                            </div>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

