@model List<ScholarshipManagement.Data.DTOs.UserDto>
@{
    ViewData["Title"] = "User List"; 
    int count = 0;
}
<h1>User List</h1>
<div>
    <div class="card-body">
            <a class="text-danger  text-lg-right font-weight-bold" asp-controller="Admin" asp-action="AdminDashboard">---Dashboard</a>
        <table class="table  table-responsive-sm table-bordered">
                <thead class="table-title">
                    <tr class="text-white">
                        <th>S/N</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>MemberCode</th>
                        <th>Phone No</th>
                        <th>UserType</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userDto in Model)
                     {
                        <tr>
                            <td> @(++count) </td>
                            <td>@userDto.UserFullName</td>
                            <td>@userDto.Email</td>
                            <td> @userDto.MemberCode</td>
                            <td> @userDto.PhoneNumber</td>
                            <td> @userDto.UserType</td>


                            <td>
                                <a asp-action="UpdateUser" asp-route-id="@userDto.Id" class="btn btn-primary">
                                    Edit
                                </a>

                            </td>
                            <td>
                                <a asp-action="DeleteUser" asp-route-id="@userDto.Id" class="btn btn-danger">
                                    Delete
                                </a>

                            </td>

                        </tr>
                     }
                </tbody>
        </table>
        

    </div>
</div>

