@model IList<ScholarshipManagement.Data.DTOs.PendingApplicationsDto>
@{
    ViewData["Title"] = "Pending List";
    int count = 0;
}
<h1>Pending List</h1>
<div>
    <a class="text-danger  text-lg-right font-weight-bold" asp-controller="Committee" asp-action="CommitteeDashboard">---Dashboard</a>

    <div class="card-body">
        @if (Model.Count() == 0)
        {
            <div>
                <h5 class="text-center text-danger">No Pending Applications!</h5>
            </div>
        }
        else
        {


            <table class="table  table-responsive-sm table-bordered">
                <thead class="table-title">
                    <tr class="text-white">
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Jamaat</th>
                        <th>Auxiliary Body</th>
                        <th>Guardian FullName</th>
                        <th>Name Of School</th>
                        <th>Status</th>
                        <th>Discipline</th>
                        <th>Academic Level</th>
                        <th>Amount Requested</th>
                        <th>Recomm endation</th>
                        <th>View Student</th>
                        <th>View Request</th>
                        <th>Action</th>
                        <th>Remarks</th>
                        <th>Decline</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var PendingApplicationsDto in Model)
                     {
                    <tr>
                        <td> @(++count) </td>
                        <td>@PendingApplicationsDto.Names </td>
                        <td>@PendingApplicationsDto.Jamaat </td>
                        <td> @PendingApplicationsDto.AuxiliaryBody </td>
                        <td> @PendingApplicationsDto.GuardianFullName </td>
                        <td> @PendingApplicationsDto.NameOfSchool </td>
                        <td> @PendingApplicationsDto.Status </td>
                        <td>@PendingApplicationsDto.Discipline </td>
                        <td> @PendingApplicationsDto.AcademicLevel </td>
                        <td>@PendingApplicationsDto.AmountRequested </td>
                        <td>@PendingApplicationsDto.AmountRecommended </td>

                        <td>
                            <a asp-action="UpdatePendingStudent" asp-route-id="@PendingApplicationsDto.StudentId" class="btn btn-primary">
                                ViewApplicant
                            </a>

                        </td>
                        <td>
                            <a asp-action="UpdatePendingApplication" asp-route-id="@PendingApplicationsDto.ApplicationFormId" class="btn btn-success">
                                View\Recommend
                            </a>
                        </td>
                        <td>
                            <a asp-action="StudentPaymentHistory" asp-route-id="@PendingApplicationsDto.StudentId" class="btn btn-success">
                                PaymentHIst
                            </a>
                        </td>
                        <td>
                            <a asp-action="UpdateApprovalStatus" asp-route-id="@PendingApplicationsDto.ApplicationFormId" class="btn btn-danger">
                                Approval
                            </a>
                        </td>
                        <td>
                            <a asp-action="Comment" asp-route-id="@PendingApplicationsDto.ApplicationFormId" class="btn btn- btn-primary">
                                Remarks
                            </a>
                        </td>
                        <td>
                            <a asp-action="DeclineApprovalStatus" asp-route-id="@PendingApplicationsDto.ApplicationFormId" class="btn btn- btn-danger">
                                Decline
                            </a>
                        </td>



                    </tr>
                     }
                </tbody>
            </table>
        }

    </div>
</div>

